body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  background-image: url("../img/background photo.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  min-width: 1200px;
}

.inner-page {
  background-image: url("../img/background inner.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  width: 1200px;
  margin: 0;
  margin-left: 75px;
  margin-bottom: 62px; 
}

.main-navigation {
  display: flex;
  position: relative;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
}

.main-header-logo {
  width: 138px;
  height: 70px;
  position: absolute;
  left: 50%;
  margin-left: -69px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation a {
  display: block;
  padding: 0;
  padding-top: 14px;
  padding-bottom: 16px;
  vertical-align: middle;
  color: #000000;
}

.site-navigation li:first-child,
.site-navigation li:nth-child(2) {
  margin-left: 71px;
  margin-right: 77px;
}

.site-navigation li:nth-child(3) {
  margin-left: 311px;
  margin-right: 165px;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: #766357;
}

.site-navigation a:active {
  color: #cacaca;
}

.welcome {
  width: 459px;
  height: 353px;
  margin-bottom: 116px;
}

.city-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.city-info {
  width: 636px;
  position: relative;
}

.city-info:before {
  position: absolute;
  content: "";
  width: 1200px;
  height: 59px;
  top: -95px;
  left: -282px;
  background-image: url("../img/intro-mask.svg");
  background-repeat: no-repeat;
}

.city-info:after {
  position: absolute;
  content: "";
  width: 1200px;
  height: 216px;
  top: -38px;
  left: -282px;
  background-image: url("../img/under-intro-mask.png");
}

.city-info p {
  text-align: center;
  padding-top: 2px;
  padding-right: 60px;
  padding-left: 61px;
}

.city-info-announce {
  position: relative;
  margin-bottom: 25px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
  z-index: 2;
}

.city-info-reasons {
  position: relative;
  margin-bottom: 36px;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  z-index: 2;
}

.feature-list {
  list-style: none;
}

.feature-container {
  display: flex;
}

.feature-item-style {
  width: 300px;
  height: 226px;
  margin: 0;
  margin-left: 35px;
  padding: 0;
  padding-top: 30px;
  padding-right: 50px;
  padding-left: 50px;
  background-color: #81b3d2;
}

.feature-item {
  text-align: center;
}

.feature-item h3 {
  margin: 0;
  padding-top: 18px;
  padding-bottom: 10px;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.feature-item p:not(.view-image) {
  padding-bottom: 7px;
  font-size: 14px;
  line-height: 21px;
}

.feature-item-style h3,
.feature-item-style p {
  color: #ffffff;
}

.feature-item-style h3 {
  padding-top: 18px;
}

.services {
  list-style: none;
  width: 1200px;
  display: flex;
  justify-content: space-around;
  margin: 0;
  margin-top: -5px;
  margin-left: 35px;
  padding: 0;
  padding-top: 1px;
  background-color: #ffffff;
}

.services-item {
  width: 300px;
}

.services-item h3 {
  position: relative;
  padding-top: 160px;
  padding-bottom: 10px;
}

.services-item h3::before {
  content: "";
  position: absolute;
  top: 59px;
  left: 112px;
  width: 75px;
  height: 76px;
}

.services-item:first-child h3::before {
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services-item:nth-child(2) h3::before {
  left: 113px;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services-item:nth-child(3) h3::before {
  top: 55px;
  left: 118px;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services p {
  margin-bottom: 75px;
}

.view-image {
  margin: 0;
  padding: 0;
}

.feature-container-second {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.feature-container-second .view-image {
  margin: 0;
  margin-left: 35px;
  margin-right: -35px;
  padding: 0;
}

.feature-container-second .feature-item-style p {
  margin-right: -10px;
  margin-left: -10px;
}

.feature-container-second .feature-item-style h3 {
  padding-top: 16px;
}

.feature-item-extra {
  display: flex;
  justify-content: space-around;
  width: 1200px;
  margin: 0;
  margin-top: -6px;
  margin-left: 35px;
  padding: 0;
  padding-bottom: 40px;
  background-color: #eeeeee;
}

.feature-item-extra .feature-item {
  width: 300px;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-right: 60px;
  padding-left: 60px; 
}

.feature-item-extra .feature-item:last-child p {
  padding-right: 15px;
  padding-left: 15px;
}

.feature-item-extra .feature-item h3 {
  margin: 0;
  padding-top: 17px;
  padding-bottom: 10px;
}

.feature-item-extra .feature-item p {
  padding-bottom: 7px;
}

.interested {
  width: 1200px;
  margin-top: -16px;
  margin-bottom: 55px;
  margin-left: 75px;
  background-color: #ffffff;
  text-align: center;
}

.interested h2 {
  margin: 0;
  padding: 0;
  padding-top: 50px;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.interested p {
  padding: 0;
  padding-top: -2px;
  margin-bottom: 46px;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

.map {
  width: 1200px;
  margin: 0;
  margin-left: 75px;
  margin-top: -55px;
  padding: 0;
}

.interested .button {
  padding: 30px 140px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #ffffff;
  background-color: #766357;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.interested .button:hover {
  background-color: #604e43;
}

.interested .button:active {
  color: #928a85;
  background-color: #503e33;
  border: none;
}

.inner-page .main-header {
  margin-bottom: 27px;
}

.filter {
  display: flex;
  width: 1200px;
  margin: 0;
  padding: 0;
}

.filter .filter-container {
  margin-left: 135px;
  margin-bottom: -1px;
}

.filter .structure {
  margin-left: 136px;
}

.filter .filter-container-1 {
  margin-left: 91px;
}

.filter .home-type {
  margin-left: 91px;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
}

.filter ul {
  margin: 0;
  padding: 0;
  padding-top: 19px;
  list-style: none;
  line-height: 21px;
  color: #ffffff;
}

.filter-option {
  margin-bottom: 25px;
  padding-left: 40px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 0;
  width: 18px;
  height: 18px;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.filter-input-checkbox:hover + label::before {
  border: 2px solid #ffffff;
}

.filter-input-checkbox:disabled + label::before {
  border: 2px solid #6a6a6a;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  width: 27px;
  height: 27px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked:hover + label::after {
  background-image: url("../img/checkbox-on.svg");
}

.filter-input-checkbox:checked:disabled + label::after {
  background-image: url("../img/checkbox-on-disabled.svg");
}

.filter .price {
  width: 330px;
  margin-top: -15px;
  margin-right: -2px;
  margin-left: 337px;
  color: #ffffff;
}

.price-title {
  margin-bottom: 9px;
}

.price-controls {
  position: relative;
  height: 32px;
  margin-top: -9px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 83px;
  margin-top: -3px;
  padding-left: 64px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  border: 9px solid #ffffff;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.filter-button {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.filter-button:hover {
  color: #000000;
  background: #ffffff;
}

.sorting {
  width: 1200px;
  display: flex;
  position: relative;
  align-items: center;
  margin: 0;
  margin-top: -2px;
  margin-left: 75px;
  padding: 0;
  background-color: #fefefe;
  border-bottom: 1px solid #e5e5e5;
}

.sorting .found,
.sorting .result {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.sorting .found {
  margin-top: -2px;
  margin-right: 6px;
  margin-left: 71px;
}

.sorting .result {
  margin-top: -2px;
}

.sorting p {
  margin-top: 4px;
  margin-left: 48px;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.sorting-all {
  display: flex;
  width: 238px;
  justify-content: space-between;
  list-style: none;
  margin-top: 35px;
  margin-bottom: 30px;
}

.sorting-all a {
  font-size: 12px;
  line-height: 18px;
  color: #b2b2b2;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-all a:hover {
  color: #81b3d2;
}

.sorting-all a:active {
  color: #000000;
  border-bottom: none;
}

.sorting-all .active a {
  color: #81b3d2;
  border-bottom: none;
}

.triangle-sorting {
  display: inline-block;
  list-style: none;
  width: 537px;
  height: 9px;
  margin: 0;
  padding: 0;
}

.triangle-sorting-up {
  width: 1px;
  margin-left: 502px;
}

.triangle-sorting-up::before {
  content: "";
  position: absolute;
  right: 73px;
  bottom: 37px;
  width: 11px;
  height: 10px;
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.triangle-sorting-up:hover::before {
  background-image: url("../img/icon-down-dir-hover.svg");
}

.triangle-sorting-up:active::before {
  background-image: url("../img/icon-down-dir.svg");
}

.triangle-sorting-down {
  width: 1px;
  margin-left: 525px;
  margin-top: -12px;
}

.triangle-sorting-down::before {
  content: "";
  position: absolute;
  right: 96px;
  bottom: 37px;
  width: 11px;
  height: 10px;
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.triangle-sorting-down:hover::before {
  background-image: url("../img/icon-up-dir-hover.svg");
}

.triangle-sorting-down:active::before {
  background-image: url("../img/icon-up-dir-active.svg");
}

.chosen-hotels-list {
  width: 1200px;
  margin: 0;
  margin-left: 75px;
  margin-bottom: 27px;
  padding: 0;
  list-style: none;
}

.chosen-hotels-item {
  display: flex;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5;
}

.chosen-hotels-item h3 a {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.chosen-hotels-item h3 a:hover {
  color: #81b3d2;
}

.chosen-hotels-item h3 a:active {
  color: #cacaca;
}

.chosen-hotels-type,
.chosen-hotels-price {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.chosen-hotels-type {
  width: 80px;
  margin-left: 80px;
}

.chosen-hotels-price {
  margin-left: 37px;
}

.chosen-hotels-detail .button {
  margin-right: 6px;
  margin-left: 86px;
  padding: 5px 16px;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
}

.chosen-hotels-detail .button:hover {
  background-color: #669ec0;
}

.chosen-hotels-detail .button:active {
  color: #94b9d2;
  background-color: #5496bd;
}

.chosen-hotels-booking a {
  font-size: 14px;
  line-height: 21px;
}

.chosen-hotels-booking .button {
  padding: 5px 17px;
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
  color: #ffffff;
  background-color: #766357;
  border: none;
}

.chosen-hotels-booking .button:hover {
  background-color: #604e43;
}

.chosen-hotels-booking .button:active {
  color: #928a85;
  background-color: #503e33;
}

.view-hotel {
  order: -1;
  margin-top: 30px;
  margin-bottom: 24px;
  margin-left: 71px;
}

.hotel-and-price {
  display: flex;
  position: absolute;
  margin-top: 44px;
  margin-left: 156px;
}

.chosen-hotels-title {
  margin-top: 25px;
  margin-left: 32px;
}

.detail-book {
  display: flex;
  position: absolute;
  margin-top: 82px;
  margin-left: 152px;
}

.chosen-hotels-rating {
  margin-top: 15px;
  margin-right: 73px;
  margin-left: auto;
}

.chosen-hotels-rating .stars-1,
.chosen-hotels-rating .stars-2,
.chosen-hotels-rating .stars-3 {
  display: flex;
  height: 17px;
  margin-bottom: 47px;
}

.chosen-hotels-rating .stars-1 {
  background: url("../img/star.svg") no-repeat 20px 0,
              url("../img/star.svg") no-repeat 43px 0,
              url("../img/star.svg") no-repeat 68px 0,
              url("../img/star.svg") no-repeat 91px 0;
}

.chosen-hotels-rating .stars-2 {
  background: url("../img/star.svg") no-repeat 44px 0,
              url("../img/star.svg") no-repeat 68px 0,
              url("../img/star.svg") no-repeat 91px 0;
}

.chosen-hotels-rating .stars-3 {
  background: url("../img/star.svg") no-repeat 68px 0,
              url("../img/star.svg") no-repeat 91px 0;
}

.digital-rating {
  padding: 3px 13px;
  font-size: 14px;
  line-height: 21px;
  color: #666666;
  background-color: #f2f2f2;
}

.main-footer {
  width: 1200px;
  margin-top: -140px;
  margin-left: 75px;
  color: #000000;
  background-color: #f9f9f9;
  opacity: 0.9;
}

.main-footer .visited {
  width: 136px;
  margin: 0;
  margin-top: 46px;
  margin-right: 256px;
  margin-bottom: 48px;
  margin-left: 132px;
  font-size: 21px;
  line-height: 26px;
}

.main-footer .footer-copyright p {
  font-size: 14px;
  line-height: 26px;
}

.footer-container {
  display: flex;
}

.footer-social {
  width: 150px;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  margin: 0 auto;
  margin-top: 36px;
  padding: 0;
  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active path {
  fill: #88b6d1;
}

.social-button:active {
  background-color: #5496bd;
}

.footer-social a {
  color: #000000;
  background-color: #81b3d2;
}

.footer-copyright {
  display: flex;
  margin: 0;
  margin-top: -2px;
  margin-right: 101px;
  margin-left: auto;
  align-items: center; 
}

.footer-copyright p {
  margin-right: 9px;
}

.main-footer-logo {
  width: 114px;
  height: 39px;
  background-image: url("../img/logo-htmlacademy.svg");
}

.main-footer-logo:hover {
  background-image: url("../img/logo-htmlacademy-hover.svg");
}

.main-footer-logo:active {
  background-image: url("../img/logo-htmlacademy-active.svg");
}

.inner-page .main-footer {
  margin-top: -27px;
}

.modal {
  position: fixed;
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.15);
}

.modal-search {
  top: 27px;
  left: 50%;
  width: 458px;
  margin-left: -285px;
  padding: 56px;
}

.search-form p {
  margin: 0;
  margin-bottom: 31px;
}

.date-info input[type="text"],
.people-quantity input[type="text"] {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
  background-color: #f2f2f2;
  text-transform: uppercase;
  border: none;
}

.date-info input[type="text"] {
  box-sizing: border-box;
  width: 345px;
  margin-left: 5px;
  padding: 5px 12px;
  padding-right: 40px;
}

.date-info label,
.people-quantity label {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}

.date-info input:hover {
  background-color: #ebebeb;
}

.date-info input:focus {
  background-color: #ffffff;
  border-color: #e5e5e5;
}

.people-quantity button {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #a9a9a9;
  background-color: #f2f2f2;
  text-align: center;
  vertical-align: middle;
  border: none;
}

.people-quantity button:hover {
  color: #000000;
}

.people-quantity button:active {
  color: #81b3d2;
  border: none;
}

.search-form button[type="submit"] {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  background-color: #81b3d2;
  text-align: center;
  vertical-align: middle;
  border: none;
}

.search-form button[type="submit"]:hover {
  background-color: #669ec0;
}

.search-form button[type="submit"]:active {
  color: #94b9d2;
  background-color: #5496bd;
}

