body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  background-image: url("../img/background photo.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.inner-page {
  background-image: url("../img/background inner.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.main-header {
  width: 1200px;
  height: 56px;
  margin: 0 auto; 
}

.main-navigation {
  display: flex;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
}

.main-header-logo {
  width: 138px;
  height: 70px;
}

.site-navigation {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: #766357;
}

.site-navigation a:active {
  color: #cacaca;
}

.welcome {
  margin-bottom: 116px;
}

.city-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -86px;
}

.city-info {
  width: 636px;
  padding-bottom: 51px;
}

.city-info p {
  text-align: center;
  margin-bottom: 20px;
  padding: 0 70px;
}

.city-info-announce {
  position: absolute;
  top: -50px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.city-info-reasons {
  position: absolute;
  top: 37px;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
}

.feature-list {
  list-style: none;
}

.feature-container {
  display: flex;
}

.feature-item-style {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 226px;
  margin: 0;
  margin-left: 35px;
  padding: 0;
  padding-top: 30px;
  padding-right: 50px;
  padding-bottom: 0;
  padding-left: 50px;
  background-color: #81b3d2;
}

.feature-item {
  text-align: center;
}

.feature-item h3 {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.feature-item p {
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

.feature-item-style h3,
.feature-item-style p {
  color: #ffffff;
}

.services {
  list-style: none;
  width: 1200px;
  display: flex;
  justify-content: space-around;
  margin: 0;
  margin-top: -5px;
  margin-left: 35px;
  padding: 0;
  padding-top: 164px;
  padding-bottom: 60px;
  background-color: #ffffff;
}

.services-item {
  width: 300px;
}

.view-image {
  margin: 0;
  padding: 0;
}

.feature-container-second {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.feature-container-second .view-image {
  margin: 0;
  margin-left: 35px;
  padding: 0;
}

.feature-container-second .feature-item-style {
  width: 320px;
  margin: 0;
  padding: 15px 40px;
}

.feature-item-extra {
  display: flex;
  justify-content: space-around;
  width: 1200px;
  margin: 0;
  margin-left: 35px;
  padding: 0;
  background-color: #eeeeee;
}

.feature-item-extra .feature-item {
  width: 256px;
  padding: 50px 72px; 
}

.interested {
  width: 1200px;
  margin-top: -14px;
  margin-left: 75px;
  background-color: #ffffff;
  text-align: center;
}

.interested h2 {
  margin: 0;
  padding: 0;
  padding-top: 55px;
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.interested p {
  padding: 0;
  padding-bottom: 30px;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

.map {
  width: 1200px;
  margin: 0;
  margin-left: 75px;
  margin-top: -55px;
  padding: 0;
}

.button {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
}

.button:hover {
  background-color: #604e43;
}

.button:active {
  color: #928a85;
  background-color: #503e33;
  border: none;
}

.filter {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0;
  padding: 0;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
}

.filter ul {
  margin: 0;
  padding: 0;
  padding-top: 24px;
  list-style: none;
  line-height: 21px;
}

.filter-option {
  margin-bottom: 24px;
}

.filter-input + label {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.price h3 {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.price p {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  border: 1px solid #ffffff;
  background-color: transparent;
}

.filter button {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  text-align: center;
  vertical-align: middle; 
}

.filter button:hover {
  color: #000000;
  background-color: #ffffff;
}

.sorting {
  width: 1200px;
  display: flex;
  align-items: center;
  margin-left: 75px;
  padding-top: 20px;
  padding-bottom: 15px;
  background-color: #fefefe;
  border-bottom: 1px solid #e5e5e5;
}

.sorting .found,
.sorting .result {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.sorting .found {
  margin-right: 7px;
  margin-left: 71px;
}

.sorting p {
  margin-left: 60px;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.sorting-all {
  display: flex;
  width: 250px;
  justify-content: space-between;
  list-style: none;
  margin-top: 38px;
  margin-bottom: 34px;
}

.sorting-all a {
  font-size: 12px;
  line-height: 18px;
  color: #b2b2b2;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-all a:hover {
  color: #81b3d2;
}

.sorting-all a:active {
  color: #000000;
  border-bottom: none;
}

.sorting-all .active a {
  color: #81b3d2;
  border-bottom: none;
}

.chosen-hotels-list {
  width: 1200px;
  margin: 0;
  margin-left: 75px;
  margin-bottom: 27px;
  padding: 0;
  list-style: none;
}

.chosen-hotels-item {
  display: flex;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5;
}

.chosen-hotels-item h3 a {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.chosen-hotels-item h3 a:hover {
  color: #81b3d2;
}

.chosen-hotels-item h3 a:active {
  color: #cacaca;
}

.chosen-hotels-type,
.chosen-hotels-price {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.chosen-hotels-detail .button {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
}

.chosen-hotels-detail .button:hover {
  background-color: #669ec0;
}

.chosen-hotels-detail .button:active {
  background-color: #5496bd;
  color: #94b9d2;
}

.chosen-hotels-booking a {
  font-size: 14px;
  line-height: 21px;
}

.digital-rating {
  font-size: 14px;
  line-height: 21px;
  color: #666666;
  background-color: #f2f2f2;
}

.main-footer {
  color: #000000;
  background-color: #f9f9f9;
  opacity: 0.9;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.footer-social a {
  color: #000000;
  background-color: #81b3d2;
}

.main-footer p:first-child {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.footer-copyright p {
  font-size: 14px;
  line-height: 26px;
}

.modal {
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}

.date-info input[type="text"],
.people-quantity input[type="text"] {
  color: #000000;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  background-color: #f2f2f2;
  text-transform: uppercase;
  border: none;
}

.date-info label,
.people-quantity label {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}

.date-info input:hover {
  background-color: #ebebeb;
}

.date-info input:focus {
  background-color: #ffffff;
  border-color: #e5e5e5;
}

.people-quantity button {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #a9a9a9;
  background-color: #f2f2f2;
  text-align: center;
  vertical-align: middle;
  border: none;
}

.people-quantity button:hover {
  color: #000000;
}

.people-quantity button:active {
  color: #81b3d2;
  border: none;
}

.search-form button[type="submit"] {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  background-color: #81b3d2;
  text-align: center;
  vertical-align: middle;
  border: none;
}

.search-form button[type="submit"]:hover {
  background-color: #669ec0;
}

.search-form button[type="submit"]:active {
  color: #94b9d2;
  background-color: #5496bd;
}

