html {
  min-width: 1200px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  background-image: url("../img/background-photo.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.inner-page {
  background-image: url("../img/background-inner.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.shadow {
  display: block;
  width: 1200px;
  margin: 0 auto;
  z-index: -1;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  width: 1200px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 62px; 
}

.main-navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
}

.main-header-logo {
  width: 138px;
  height: 70px;
  position: absolute;
  left: 50%;
  margin-left: -69px;
}

.site-navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation li {
  margin: 0;
  padding: 0;
  padding-top: 14px;
  padding-bottom: 16px;
}

.site-navigation li:first-child,
.site-navigation li:nth-child(2) {
  margin-left: 71px;
  margin-right: 77px;
}

.site-navigation li:nth-child(3) {
  margin-left: 311px;
  margin-right: 165px;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: #766357;
}

.site-navigation a:active {
  color: #cacaca;
}

.site-navigation-current a {
  color: #766357;
}

.city-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.city-wrapper img {
  width: 459px;
  height: 353px;
  margin-top: 14px;
  margin-bottom: 116px;
}

.city-info {
  width: 636px;
  position: relative;
}

.city-info::before {
  position: absolute;
  content: "";
  width: 1200px;
  height: 59px;
  top: -95px;
  left: -282px;
  background-image: url("../img/intro-mask.svg");
  background-repeat: no-repeat;
}

.city-info::after {
  position: absolute;
  content: "";
  width: 1200px;
  height: 216px;
  top: -38px;
  left: -282px;
  background-image: url("../img/under-intro-mask.png");
}

.city-info p {
  text-align: center;
  padding-top: 2px;
  padding-right: 60px;
  padding-left: 61px;
}

.city-info-announce {
  position: relative;
  margin-bottom: 25px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
  z-index: 2;
}

.city-info-reasons {
  position: relative;
  margin-bottom: 36px;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  z-index: 2;
}

.features {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.feature-list {
  list-style: none;
  padding-left: 0;
}

.feature-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../img/sedona-view-1.jpg");
  background-position: 400px 0;
  background-repeat: no-repeat;
}

.feature-item-style {
  width: 300px;
  min-height: 226px;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-right: 50px;
  padding-left: 50px;
  background-color: #81b3d2;
}

.feature-item {
  text-align: center;
}

.feature-container,
.feature-container-second {
  background-color: #81b3d2;
}

.feature-item h3 {
  margin: 0;
  padding-top: 18px;
  padding-bottom: 10px;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.feature-item p:not(.view-image) {
  padding-bottom: 7px;
  font-size: 14px;
  line-height: 21px;
}

.feature-item-style h3,
.feature-item-style p {
  color: #ffffff;
}

.feature-item-style h3 {
  padding-top: 18px;
  padding-right: 50px;
  padding-left: 50px;
}

.services {
  list-style: none;
  width: 1200px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 0;
  margin-top: 1px;
  padding: 0;
  padding-top: 1px;
  background-color: #ffffff;
}

.services-item {
  width: 300px;
  padding-bottom: 61px;
}

.services-item h3 {
  position: relative;
  padding-top: 160px;
  padding-bottom: 10px;
}

.services-item h3::before {
  content: "";
  position: absolute;
  top: 59px;
  left: 112px;
  width: 75px;
  height: 76px;
}

.services-item:first-child h3::before {
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services-item:nth-child(2) h3::before {
  left: 113px;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services-item:nth-child(3) h3::before {
  top: 55px;
  left: 118px;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.view-image {
  margin: 0;
  padding: 0;
}

.feature-container-second {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background-image: url("../img/sedona-view-2.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.feature-container-second .view-image {
  margin: 0;
  padding: 0;
}

.feature-container-second p {
  margin-right: -10px;
  margin-left: -10px;
}

.feature-container-second h3 {
  padding-top: 16px;
}

.feature-item-extra {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  list-style: none;
  width: 1200px;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  background-color: #eeeeee;
}

.feature-item-extra .feature-item {
  width: 300px;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-right: 60px;
  padding-left: 60px; 
}

.feature-item:last-child p {
  padding-right: 15px;
  padding-left: 15px;
}

.feature-item-extra h3 {
  margin: 0;
  padding-top: 17px;
  padding-right: 60px;
  padding-bottom: 10px;
  padding-left: 60px;
}

.feature-item-extra p {
  padding-bottom: 7px;
}

.interested {
  width: 1200px;
  margin-top: -16px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 55px;
  background-color: #ffffff;
  text-align: center;
}

.interested h2 {
  margin: 0;
  padding: 0;
  padding-top: 50px;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.interested p {
  margin: 0;
  padding: 0;
  margin-bottom: 46px;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

.map {
  position: relative;
  width: 1200px;
  margin: 0;
  margin-top: -55px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.map iframe {
  position: absolute;
  z-index: 2;
  border: 0;
}

.interested .button {
  padding: 30px 140px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #ffffff;
  background-color: #766357;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.interested .button:hover {
  background-color: #604e43;
}

.interested .button:active {
  color: #928a85;
  background-color: #503e33;
  border: none;
}

.inner-page .main-header {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 27px;
}

.filter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.filter .filter-container {
  margin-left: 60px;
  margin-bottom: -1px;
}

.filter .structure {
  margin-left: 60px;
}

.filter .filter-container-1 {
  margin-left: 91px;
}

.filter .home-type {
  margin-left: 91px;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
}

.filter ul {
  margin: 0;
  padding: 0;
  padding-top: 19px;
  list-style: none;
  line-height: 21px;
  color: #ffffff;
}

.filter-option {
  margin-bottom: 25px;
  padding-left: 40px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 0;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter-input-checkbox:hover + label::before {
  background-image: url("../img/checkbox-off.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter-input-checkbox:disabled + label::before {
  background-image: url("../img/checkbox-off-disabled.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  width: 27px;
  height: 27px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked:hover + label::after {
  background-image: url("../img/checkbox-on.svg");
}

.filter-input-checkbox:checked:disabled + label::after {
  background-image: url("../img/checkbox-on-disabled.svg");
}

.filter-input-checkbox:focus + label::before {
  outline: rgb(59, 153, 252) auto 5px;
}

.filter-input-checkbox:focus + label::after {
  outline: rgb(59, 153, 252) auto 5px;
}

.filter .price {
  width: 319px;
  margin-top: -15px;
  margin-right: -2px;
  margin-left: 337px;
  color: #ffffff;
}

.price-title {
  margin-bottom: 9px;
}

.price-controls {
  position: relative;
  height: 33px;
  margin-top: -9px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 83px;
  margin-top: -3px;
  padding-left: 64px;
}

.price-controls input {
  width: 50px;
  height: 37px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  border: 9px solid #ffffff;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 79%;
}

.filter-button {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.filter-button:hover {
  color: #000000;
  background: #ffffff;
}

.sorting {
  width: 1200px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  margin-top: -2px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  background-color: #fefefe;
  border-bottom: 1px solid #e5e5e5;
}

.sorting .found,
.sorting .result {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.sorting .found {
  margin-right: 6px;
  margin-left: 71px;
}

.sorting p {
  padding-top: 6px;
  margin-left: 46px;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.sorting-all {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 238px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none;
  margin-top: 35px;
  margin-bottom: 30px;
}

.sorting-all li {
  padding-right: 34px;
}

.sorting-all a {
  font-size: 12px;
  line-height: 18px;
  color: #b2b2b2;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-all a:hover {
  color: #81b3d2;
}

.sorting-all a:active {
  color: #000000;
  border-bottom: none;
}

.sorting-all .active a {
  color: #81b3d2;
  border-bottom: none;
}

.triangle-sorting {
  list-style: none;
  width: 45px;
  margin: 0;
  margin-right: 70px;
  margin-left: auto;
  padding: 0;
}

.triangle-sorting-down {
  display: inline-block;
  position: relative;
  width: 11px;
  height: 10px;
  top: 3px;
  left: 17px;
}

.triangle-sorting-down a::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 10px;
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.triangle-sorting-down a:hover::before {
  background-image: url("../img/icon-down-dir-hover.svg");
}

.triangle-sorting-down a:active::before {
  background-image: url("../img/icon-down-dir.svg");
}

.triangle-sorting-up {
  display: inline-block;
  position: relative;
  width: 11px;
  height: 10px;
  top: 3px;
  left: 10px;
}

.triangle-sorting-up a::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 10px;
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.triangle-sorting-up a:hover::before {
  background-image: url("../img/icon-up-dir-hover.svg");
}

.triangle-sorting-up a:active::before {
  background-image: url("../img/icon-up-dir-active.svg");
}

.chosen-hotels-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 1200px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 27px;
  padding: 0;
  list-style: none;
}

.chosen-hotels-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5;
}

.hotels-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 500px;
  margin-left: 30px;
}

.chosen-hotels-title a {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.chosen-hotels-title a:hover {
  color: #81b3d2;
}

.chosen-hotels-title a:active {
  color: #cacaca;
}

.chosen-hotels-type,
.chosen-hotels-price {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.chosen-hotels-detail .button {
  margin-right: 6px;
  padding: 4px 16px;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
}

.chosen-hotels-detail .button:hover {
  background-color: #669ec0;
}

.chosen-hotels-detail .button:active {
  color: #94b9d2;
  background-color: #5496bd;
}

.chosen-hotels-booking a {
  font-size: 14px;
  line-height: 21px;
}

.chosen-hotels-booking .button {
  padding: 4px 18px;
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
  color: #ffffff;
  background-color: #766357;
  border: none;
}

.chosen-hotels-booking .button:hover {
  background-color: #604e43;
}

.chosen-hotels-booking .button:active {
  color: #928a85;
  background-color: #503e33;
}

.view-hotel {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 24px;
  margin-left: 71px;
}

.chosen-hotels-title {
  height: 26px;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 7px;
}

.hotel-and-price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 182px;
  margin-bottom: 3px;
}

.detail-book {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.chosen-hotels-rating {
  margin-top: 15px;
  margin-right: 73px;
  margin-left: auto;
}

.chosen-hotels-rating .stars-4,
.chosen-hotels-rating .stars-3,
.chosen-hotels-rating .stars-2 {
  height: 17px;
  margin-bottom: 47px;
}

.chosen-hotels-rating .stars-4 {
  width: 89px;
  margin-left: 14px;
  background-image: url("../img/star.svg");
  background-repeat: space;
  background-position: 0 0;
}

.chosen-hotels-rating .stars-3 {
  width: 66px;
  margin-left: 37px;
  background-image: url("../img/star.svg");
  background-repeat: space;
  background-position: 0 0;
}

.chosen-hotels-rating .stars-2 {
  width: 42px;
  margin-left: 60px;
  background-image: url("../img/star.svg");
  background-repeat: space;
  background-position: 0 0;
}

.digital-rating {
  margin-left: -7px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 14px;
  font-size: 14px;
  line-height: 21px;
  color: #666666;
  background-color: #f2f2f2;
}

.main-footer {
  position: relative;
  width: 1200px;
  margin-top: -140px;
  margin-left: auto;
  margin-right: auto;
  color: #000000;
  background-color: #f9f9f9;
  opacity: 0.9;
  z-index: 3;
}

.main-footer .visited {
  width: 136px;
  margin: 0;
  margin-top: 46px;
  margin-right: 144px;
  margin-bottom: 48px;
  margin-left: 132px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.footer-copyright p {
  font-size: 14px;
  line-height: 26px;
}

.footer-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.footer-social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-width: 150px;
  margin: 0 auto;
  margin-top: 36px;
  padding: 0;
  padding-right: 1px;
  list-style: none;
}

.footer-social li {
  padding-right: 6px;
}

.social-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active path {
  fill: #88b6d1;
}

.social-button:active {
  background-color: #5496bd;
}

.footer-social a {
  color: #000000;
  background-color: #81b3d2;
}

.footer-copyright {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-top: -2px;
  margin-right: 101px;
  margin-left: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; 
}

.footer-copyright p {
  margin-right: 9px;
}

.main-footer-logo {
  width: 114px;
  height: 39px;
  background-image: url("../img/logo-htmlacademy.svg");
}

.main-footer-logo:hover {
  background-image: url("../img/logo-htmlacademy-hover.svg");
}

.main-footer-logo:active {
  background-image: url("../img/logo-htmlacademy-active.svg");
}

.inner-page .main-footer {
  margin-top: -27px;
}

@-webkit-keyframes appearance {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

@keyframes appearance {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blinking {
  0% {
    opacity: 0;
  }

  30%,
  50%,
  100% {
    opacity: 1;
  }

  40%,
  60% {
    opacity: 0;
  }
}

@keyframes blinking {
  0% {
    opacity: 0;
  }

  30%,
  50%,
  100% {
    opacity: 1;
  }

  40%,
  60% {
    opacity: 0;
  }
}

.modal {
  position: absolute;
  color: #000000;
  background-color: #ffffff;
  -webkit-box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.15);
  display: none;
  z-index: 5;
}

.modal-show {
  display: block;
  -webkit-animation: appearance 0.6s;
  animation: appearance 0.6s;
}

.modal-error {
  -webkit-animation: blinking 0.6s;
  animation: blinking 0.6s;
}

.modal-search {
  top: 0;
  left: 50%;
  width: 458px;
  margin-left: -285px;
  padding: 56px;
}

.search-form p {
  margin: 0;
  margin-bottom: 31px;
}

.date-info input[type="text"],
.people-quantity input[type="text"] {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
  background-color: #f2f2f2;
  text-transform: uppercase;
  border: none;
}

.date-info input[type="text"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 342px;
  height: 36px;
  margin-left: 12px;
  padding-top: 5px;
  padding-right: 52px;
  padding-bottom: 5px;
  padding-left: 13px;
}

.date-info label,
.people-quantity label {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}

.date-info:nth-child(2) label {
  display: inline-block;
  padding-right: 7px;
  padding-left: 2px;
  vertical-align: middle;
}

.date-info:nth-child(3) label {
  display: inline-block;
  padding-right: 3px;
  padding-left: 2px;
  vertical-align: middle;
}

.date-info input:hover {
  background-color: #ebebeb;
}

.date-info input:focus {
  background-color: #ffffff;
  border-color: #e5e5e5;
}

.calendar-normal,
.calendar-normal-1 {
  position: absolute;
  border: none;
  top: 62px;
  right: 65px;
  width: 21px;
  height: 22px;
  padding: 0;
  background-color: #f2f2f2;
  background-image: url("../img/calendar-normal.png");
}

.calendar-normal-1 { 
  top: 130px;
}

.date-info button[type="button"]:hover {
  background-image: url("../img/calendar-hover.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.date-info button[type="button"]:active {
  background-image: url("../img/calendar-active.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  outline: none;
}

.people {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 25px 0;
}

.people-quantity {
  padding-top: 1px;
}

.people-quantity input[type="text"] {
  display: inline-block;
  width: 22px;
  height: 26px;
  margin: 0;
  margin-top: -3px;
  margin-right: -6px;
  margin-left: -4px;
  padding: 0;
  padding: 5px 8px;
  text-align: center;
  vertical-align: middle;
}

.people-quantity button {
  padding: 5px 12px;
  text-align: center;
  margin-right: 0px;
  margin-bottom: 3px;
  margin-left: 2px;
  font-size: 24px;
  font-weight: bold;
  line-height: 26px;
  color: #a9a9a9;
  background-color: #f2f2f2;
  vertical-align: middle;
  border: none;
}

.people-quantity:first-child label {
  padding-right: 35px;
}

.people-quantity:nth-child(2) label {
  padding-right: 20px;
}

.people-quantity button:hover {
  color: #000000;
}

.people-quantity button:active {
  color: #81b3d2;
  border: none;
}

.search-form button[type="submit"] {
  width: 100%;
  margin-top: -4px;
  margin-right: 0;
  padding: 16px 0;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #ffffff;
  background-color: #81b3d2;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  border: none;
}

.search-form button[type="submit"]:hover {
  background-color: #669ec0;
}

.search-form button[type="submit"]:active {
  color: #94b9d2;
  background-color: #5496bd;
}
